/* .actions-and-tabs-container {
  display: flex;
  align-items: center;
} */

.actions-dropdown {
    margin-right: 10px;
  }
  
  .document-tabs {
    flex-grow: 1;
  }
  
  
  
  .document-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }
  
  .document-details h2 {
    color: #287379; 
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 2px solid #287379;
  }
  
  .detail-section {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8f9fa; 
    border-left: 5px solid #287379; 
    border-radius: 4px;
  }
  
  .detail-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .detail-item {
    flex: 1;
    margin-right: 20px;
    min-width: 200px;
  }
  
  .detail-item:last-child {
    margin-right: 0;
  }
  
  .detail-label {
    font-weight: bold;
  }
  